.cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(211, 211, 211, 0.25);
}

.selected {
  background-color: rgba(139, 0, 139, 0.3);
}

.cell:hover {
  opacity: 50%;
}

.sameArea {
  background-color: rgba(139, 0, 139, 0.15);
}

.sameArea:hover {
  opacity: 30%;
}

.value {
  font-size: 28px;
}

.user-input {
  color: darkmagenta;
}

.error {
  color: red;
}

.same-digit {
  color: rgba(169, 0, 169, 1);
}
