.digit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(211, 211, 211, 0.25);
}

.digit:hover {
  opacity: 50%;
}

.symbol {
  font-size: 28px;
}
